// $main-color: #f6671b;

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
    // overflow-y: hidden;
}

.background-style-all{
    // background-color: aquamarine;
    // background-color: rgb(172, 98, 210);
    background-color: #E0E0EB;
}