$main-color: #00375e;
$list-color2: #8a2be2;

.card-transition-appear {
  transition: transform 350ms ease-in;
  transform: translateX(-100%);
}

.card-transition-appear-active {
  transform: translateX(0);
}

.matchScene-transition-appear {
  transition: transform 350ms ease-in;
  transform: translateX(100%);
}

.matchScene-transition-appear-active {
  transform: translateX(0);
}

.menu-container {
  position: relative;
  z-index: 1;
}

.menu {
  position: absolute;
  top: 35.5px;
  right: -5px;
  width: 35rem;
  height: 80rem;
  background-color: rgb(231, 206, 250);
  border: 5px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  z-index: 1;
}

.menu.open {
  transform: translateX(0);
}

.menu-button {
  position: absolute;
  top: 45.5px;
  right: 2px;
  z-index: 1;
  transform: translateX(0) scale(2);
  background-color: rgb(202, 140, 249);
  border-radius: 2px;
  color: $main-color;
  transition: transform 0.3s ease-in-out;
}

.menu-button.open {
  transform: translateX(-35rem) scale(2);
}

.overlay-text {
  width: 90%;
  // background-color: red;
  margin-left: auto;
  margin-right: auto;
  h4{
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    line-height: 2rem;
    color: $main-color;
    font-weight: bolder;
  }
}

.overlay-block{
  width: 60%;
  display: flex;
  flex-direction: row;
  // background-color: blue;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  padding: 1rem;

  font-size: 1.2rem;
  color: $list-color2;

  border: 2px solid $list-color2;
  border-radius: 1rem;
}
