$main-color: #00375e;
$list-color2: #8a2be2;

.featured-page {
  min-height: 100vh;
}

.featured {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.featured-left {
  background-color: rgb(228, 232, 245);
  margin-right: 5px;
  border: none;
  box-shadow: 5px 5px 5px $main-color;
}
.featured-text{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25%;
  color: $main-color;
  font-weight: bold;

  position: fixed;
  top: 12vh;

  img{
    width: 75%;
    align-self: center;
  }
}
.scroll-featured{
  height: 90%;
  h2{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
}

.featured-scene {
  background-color: #e0e0eb;
}
.feature-loader{
  width: 18rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  img{
    width: 80%;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    animation: left-right 2.5s linear alternate-reverse infinite;
  }
  position: fixed;
  top: 20vh;
  // right: 10vw;
  left: 50vw;

}

.featured-card {
  width: 95%;
  height: 10rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 2rem;

  border: none;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px $main-color;

  h1 {
    width: 70%;
    margin-top: auto;
    margin-bottom: auto;
    color: $main-color;
  }

  &:hover {
    transform: translateX(-0.25rem) translateY(-0.25rem);
    box-shadow: 10px 10px 10px $main-color;
  }
}

a {
  text-decoration: none;
  &:nth-of-type(odd) {
    .featured-card {
      // background-color: rgb(211, 209, 250);
      background-color: rgb(205, 204, 234);
    }
  }
  &:nth-of-type(even) {
    .featured-card {
      background-color: rgb(238, 237, 245);
    }
  }
}

.winner-feature{
  background-color: #fdc872;
  width: 90%;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  h1{
    font-size: 2.2rem;
    text-align: center;
    color: maroon;
  }h2{
    display: flex;
    flex-direction: row;
    color: $main-color;
  }
  border-bottom: 5px solid $main-color;
}

.scroll-box-featured{
  height: 80%;
}

.user-date {
  text-align: right;
  // background-color: red;
  h3 {
    padding-bottom: 1rem;
    color: rgb(64, 118, 71);
  }
}

// animation
.featureLeft-transition-appear {
  transition: transform 350ms ease-in;
  transform: translateX(-100%);
}

.featureLeft-transition-appear-active {
  transform: translateX(0);
}

.featureScene-transition-appear {
  transition: transform 350ms ease-in;
  transform: translateX(100%);
}

.featureScene-transition-appear-active {
  transform: translateX(0);
}

// Animation
@keyframes left-right{
  from{
      transform: translateX(2rem);
  }
  to{
      transform: translateX(-2rem);
  }
}
