// $main-color:#E31C25;
// $list-color2:#0d47b3;
$main-color:#00375e;
$list-color2:#8a2be2;
$black-color: #161616;
$bg-color: #fe5d65;
$nav-color: #e13941;

.homepage{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-color: aquamarine;
}

.main{
    // background-color: aquamarine;
    min-height: 87vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    h2{
        margin-top: 2rem;
        font-size: 2.6rem;
        margin-left: 5vw;
        animation: right 1s ease-in forwards;
        transform: translateX(-100vw);
        letter-spacing: 2px;

        // color: $main-color;
        color: #00375e;
    }
    h3{
        font-size: 2rem;
        margin-left: 10vw;
        animation: right 1s 1s ease-in forwards;
        transform: translateX(100vw);
        letter-spacing: 2px;

        // color: $list-color2;
        color: #8a2be2;
    }
    img{
        width: 55vw;
        margin-left: auto;
        margin-right: 2vw;
        animation: up-down 1.5s linear alternate-reverse infinite;
    }
    button{
        width: 12rem;
        font-size: 1.4rem;
        margin-top: 1rem;
        margin-left: 8vw;
        animation: right 1s 1.5s ease-in forwards;

        // background-color: rgb(3, 158, 158);
        background-color: #4fc1f9;
        color: white;
        border: none;
        border-radius: 1rem;
        transform: translateX(-100vw);

        &:hover{
            color: $main-color;
            box-shadow: 3px 3px 3px $main-color;
        }
    }
}

// .home-transition-appear{
//     transition: transform 350ms ease-in;
//     transform: translateY(100%);
// }
// .home-transition-appear-active{
//     transform: translateY(0);
// }

.intro{
    min-height: 100vh;
    // background-color: #fb9ca1cb;
    background-color: #e0cee6;
    // color: #00375e;
    color: #5f0bae;

    display: flex;
    align-items: center;
    justify-content: space-around;

    img{
        width: 35vw;
        margin-left: 2vw;
        margin-right: auto;
        animation: up-down 1.5s linear alternate-reverse infinite;
    }
    .intro-text{
        width: 55vw;
        margin-right: 3rem;
        h2{
            margin-bottom: 4rem;
            font-size: 3rem;
            text-align: center;
        }
    }
    h3{
        font-size: 1.6rem !important;
        line-height: 2.7rem;
        text-align:justify;
    }
}


.club-details{
    min-height: 100vh;
    // background-color: #fb9ca1cb;
    background-color: #E0E0EB;
    color: #00375e;

    display: flex;
    align-items: center;
    justify-content: space-around;

    .img-box{
        display: flex;
        flex-direction: column;
    }
    // img{
    //     width: 10vw;
    //     margin-right: 2vw;
    //     margin-left: auto;
    //     animation: up-down 1.5s linear alternate-reverse infinite;
    // }
    .club-text{
        width: 55vw;
        margin-left: 3rem;
        h2{
            margin-top: 2rem;
            margin-bottom: 4rem;
            font-size: 3rem;
            text-align: center;
            
        }
        h4{
            font-size: 1.4rem !important;
            line-height: 2.7rem;
            margin-bottom: 2rem;
            margin-right: 1rem;
            text-align:justify;
        }
    }
    h3{
        font-size: 1.6rem !important;
        line-height: 2.7rem;
    }
}

.img-left-shift {
    width: 30vw;
    height: 40vh;
    margin-right: 7vw;
    margin-left: auto;
    animation: up-down 1.5s linear alternate-reverse infinite;
}
.img-right-shift {
    width: 20vw;
    height: 35vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1vw;
    margin-left: auto;
    animation: up-down 1.5s linear alternate-reverse infinite;
}
.img3-height{
    height: 35vh;
}


.footer-home{
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: bottom;
    justify-content: center;
    text-align: center;

    // margin-top: 4.5rem;

    background-color: #ca91ff;
    color: white;
    h5{
        font-size: 1.5rem;
    }
    p{
        color: #141414;
    }
}

// Animation
@keyframes up-down{
    from{
        transform: translateY(1rem);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes right {
    to{
        transform: translateX(0vw);
    }
}