.homepage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0873f6;
}

.main {
  min-height: 87vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main h2 {
  margin-top: 2rem;
  font-size: 2.6rem;
  margin-left: 5vw;
  animation: right 1s ease-in forwards;
  transform: translateX(-100vw);
  letter-spacing: 2px;
  color: #00375e;
}
.main h3 {
  font-size: 2rem;
  margin-left: 10vw;
  animation: right 1s 1s ease-in forwards;
  transform: translateX(100vw);
  letter-spacing: 2px;
  color: #8a2be2;
}
.main img {
  width: 55vw;
  margin-left: auto;
  margin-right: 2vw;
  animation: up-down 1.5s linear alternate-reverse infinite;
}
.main button {
  width: 12rem;
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-left: 8vw;
  animation: right 1s 1.5s ease-in forwards;
  background-color: #4fc1f9;
  color: white;
  border: none;
  border-radius: 1rem;
  transform: translateX(-100vw);
}
.main button:hover {
  color: #00375e;
  box-shadow: 3px 3px 3px #00375e;
}

.intro {
  min-height: 100vh;
  background-color: #e0cee6;
  color: #5f0bae;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.intro img {
  width: 35vw;
  margin-left: 2vw;
  margin-right: auto;
  animation: up-down 1.5s linear alternate-reverse infinite;
}
.intro .intro-text {
  width: 55vw;
  margin-right: 3rem;
}
.intro .intro-text h2 {
  margin-bottom: 4rem;
  font-size: 3rem;
  text-align: center;
}
.intro h3 {
  font-size: 1.6rem !important;
  line-height: 2.7rem;
  text-align: justify;
}

.club-details {
  min-height: 100vh;
  background-color: #E0E0EB;
  color: #00375e;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.club-details .img-box {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}
.club-details .club-text {
  width: 55vw;
  margin-left: 3rem;
}
.club-details .club-text h2 {
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 3rem;
  text-align: center;
}
.club-details .club-text h4 {
  font-size: 1.4rem !important;
  line-height: 2.7rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  text-align: justify;
}
.club-details h3 {
  font-size: 1.6rem !important;
  line-height: 2.7rem;
}

.img-left-shift {
  width: 22vw;
  height: 30vh;
  margin-right: 6vw;
  margin-left: auto;
  animation: up-down 1.5s linear alternate-reverse infinite;
}

.img-right-shift {
  width: 15vw;
  height: 25vh;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1vw;
  margin-left: auto;
  animation: up-down 1.5s linear alternate-reverse infinite;
}

.img3-height {
  height: 25vh;
}

.footer-home {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: bottom;
  justify-content: center;
  text-align: center;
  background-color: #ca91ff;
  color: white;
}
.footer-home h7 {
  font-size: 1rem;
  color: #141414;
}
.footer-home p {
  font-size: 1rem;
  color: #141414;
}

.social-box {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.icon-each {
  transform: scale(0.9);
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 10px;
  margin-right: 10px;
  color: #141414;
}
.icon-each:hover {
  color: rgb(61, 4, 216);
}

.twitch-icon {
  margin-top: 3px;
  transform: scale(1.2);
}

.icon-each-me {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 5px;
}

@keyframes up-down {
  from {
    transform: translateY(1rem);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes right {
  to {
    transform: translateX(0vw);
  }
}/*# sourceMappingURL=home.css.map */