.roster-bg {
  width: 65vw;
  min-height: 75rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(210, 208, 208);
  border-radius: 1rem;
  background-color: white;
  box-shadow: 5px 5px 5px #9638ee;
}

.roster-header {
  width: 100%;
  height: 5rem;
  background-color: #8e52c7;
  color: white;
  border: none;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.roster-header h3 {
  margin-top: 1.5rem;
  text-align: center;
  letter-spacing: 2px;
}

.roster-bot-header {
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.rosterlist-body {
  box-shadow: 5px 0px 5px #9638ee;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.allow-roster-bt {
  margin-left: 0.5rem;
  margin-bottom: 2rem;
  width: 25rem;
  height: 3rem;
  border: none;
  border-radius: 0.75rem;
}
.allow-roster-bt:hover {
  box-shadow: 2px 2px 2px #9638ee;
  color: #9638ee;
}

.label-roster {
  width: 25rem;
  height: 3rem;
  border: none;
  border-radius: 0.75rem;
  margin-left: 0.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: 1.4rem;
  padding: 0.5rem;
  background-color: #ebd6ff;
}

.form-body {
  background-color: #ebd6ff;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.form-body h3 {
  text-align: center;
  letter-spacing: 2px;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  text-decoration: underline;
}

.form-in-2 label {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.2rem;
}
.form-in-2 input {
  width: 15rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: inset 0 5px 7px lightgray, 0 1px 0 #9638ee;
  padding: 0.25rem 0.75rem;
}

.radio-bts h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}
.radio-bts .rb label {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.safety-cb {
  margin-left: auto;
  margin-right: auto;
}
.safety-cb label {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}
.safety-cb input[type=checkbox] {
  /* Double-sized Checkboxes */
  transform: scale(1.25);
}

.sign-field label {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.sign-field input {
  width: 15rem;
  height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: inset 0 5px 7px lightgray, 0 1px 0 #9638ee;
  padding: 0.25rem 0.75rem;
}

.rosterList-transition-appear {
  transition: transform 350ms ease-in;
  transform: translateX(-100%);
}

.rosterList-transition-appear-active {
  transform: translateX(0);
}

.rosterScene-transition-appear {
  transition: transform 350ms ease-in;
  transform: translateX(100%);
}

.rosterScene-transition-appear-active {
  transform: translateX(0);
}/*# sourceMappingURL=roster.css.map */