$border-color: rgb(210, 208, 208);
// $roster-shadow: rgb(56, 183, 225);
$roster-shadow: #9638ee;

.roster-bg {
    width: 65vw;
    min-height: 75rem;

    margin-top: 2.5rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;

    display: flex;
    flex-direction: column;

    border: 1px solid $border-color;
    border-radius: 1rem;
    background-color: white;

    box-shadow: 5px 5px 5px $roster-shadow;
}


.roster-header {
    width: 100%;
    height: 5rem;
    // background-color: lightblue;
    background-color: #8e52c7;
    color: white;
    border: none;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    h3{
        margin-top: 1.5rem;
        text-align: center;
        letter-spacing: 2px;
    }
}

.rosterlist-body{
    // background: rgb(166, 222, 241);
    box-shadow: 5px 0px 5px $roster-shadow;
}

.form-container {
    // background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.allow-roster-bt{
    margin-left: 0.5rem;
    margin-bottom: 2rem;
    width: 25rem;
    height: 3rem;

    border: none;
    border-radius: 0.75rem;
    &:hover{
        box-shadow: 2px 2px 2px $roster-shadow;
        color: rgb(17, 113, 144);
    }
}
.label-roster {

    width: 25rem;
    height: 3rem;

    border: none;
    border-radius: 0.75rem;
    margin-left: 0.5rem;
    margin-bottom: 2.5rem;

    text-align: center;
    font-size: 1.4rem;
    padding: 0.5rem;

    background-color: rgba(114, 217, 251, 0.63);
    // background-color: #9638ee;
}
.form-body {
    // background-color: aquamarine;
    // background-color: rgb(174, 221, 253);
    background-color: #e1c0ff;
    height:100%;

    display: flex;
    flex-direction: column;
    // justify-content: center;

    h3{
        text-align: center;
        letter-spacing: 2px;
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
        text-decoration: underline;
    }
}
.form-in-2 {
    label{
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1.2rem;
    }
    input {
        width: 15rem;
        border: none;
        border-radius: 0.25rem;
        box-shadow: inset 0 5px 7px lightgray, 0 1px 0 $roster-shadow;

        padding: 0.25rem 0.75rem;
    }
}

.radio-bts {

    h6{
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 0.5rem;
    }

    .rb {
        label{
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-left: 1rem;
            margin-right: 0.5rem;
        }
    }
}

.checkbox-grid{
    // make a grid for all the
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}
.safety-cb {
    margin-left: auto;
    margin-right: auto;
    label{
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 0.5rem;
    }
    input[type=checkbox] {
        /* Double-sized Checkboxes */
        transform: scale(1.25);
    }
}

.sign-field{
    // add the inspector's sign input

    label{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
    input {
        width: 15rem;
        height: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        border: none;
        border-radius: 0.25rem;
        box-shadow: inset 0 5px 7px lightgray, 0 1px 0 $roster-shadow;
        padding: 0.25rem 0.75rem;
    }
}

// Animation
.rosterList-transition-appear{
    transition: transform 350ms ease-in;
    transform: translateX(-100%);
}

.rosterList-transition-appear-active{
    transform: translateX(0);
}

.rosterScene-transition-appear {
    transition: transform 350ms ease-in;
    transform: translateX(100%);
}

.rosterScene-transition-appear-active {
    transform: translateX(0);
}