$main-color:#00375e;
$list-color2:#8a2be2;
$black-color: #161616;
$bg-color: #fe5d65;
$nav-color: #e13941;
$border-color: rgb(210, 208, 208);

.timer {
    width: 10.1rem;
    margin-top: 1rem;
    align-self: center;
}

.timer-input {
    width: 5rem;
    height: 3rem;

    border-radius: 0.1rem;
    border: 1px solid $border-color;
    text-align: center;
    text-decoration: dashed;
    font-family: 'Nova Square', sans-serif;
    font-size: 1.6rem;

    background-color: white;

    padding: 0.9rem;
    box-shadow: inset 0 2px 6px lightgray, 0 1px 0 rgba(88, 25, 235, 0.2);
}

.timer-bt {
    width: 4.9rem;
    border-radius: 0.1rem;
    border: none;
    background-color: white;
    margin-right: 0.1rem;
    box-shadow: inset 0px 1px 1px $main-color, 0px 1px 1px $list-color2;
    font-weight: bolder;

    &:hover{
        background-color: rgb(243, 222, 254);
        box-shadow: 1px 1px 1px 1px rgb(107, 6, 249);
    }
}